{% extends 'admin/index_admin.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}

<h4 style="text-align: center">LIST OF PARENTS</h4>

<table class="table table-bordered table-sm" style="text-align: center" >
    <tr>
        <th>Parent Name</th>
        <th>Gender</th>
        <th>Student Reg-no</th>
        <th>Relationship with Student</th>
        <th>Address</th>
        <th>Contact Number</th>
        <th>Email</th>
        <th>Manage</th>
    </tr>
    {% for x in data %}
    <tr>
        <td>{{ x.name }}</td>
        <td>{{x.gender}}</td>
        <td>{{x.student_reg_no}}</td>
        <td>{{x.relationship_with_student}}</td>
        <td>{{x.address}}</td>
        <td> {{x.contact_number}}</td>
        <td>{{x.email}}</td>
        <td><form action="{% url 'deleleParent' x.id %}" method="POST" class="d-inline-block">
            {% csrf_token %}
            <input type="submit" class="btn btn-outline-danger" value="Delete"/>
        </form> </td>
    </tr>
    {% endfor %}

</table>

{% endblock %}