{% extends 'admin/index_admin.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}

<h4 style="text-align: center">FEEDBACK</h4>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="text-center display-4">Reply to Feedback</h1>
        </div>
        <div class="col-md-8">
            <form method="POST" enctype="multipart/form-data">
                 {% csrf_token %}
                {{ feedback_form|crispy }}
        <button type="submit" class="btn btn-info">Reply</button>
                </form>
    </div>
    </div>
</div>
        </div>

{% endblock %}