{% extends 'admin/index_admin.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
<div>
<h4 style="text-align: center">STUDENT FEEDBACKS</h4><br>
</div>
<table class="table table-bordered table-sm " style="text-align: center">
    <tr>
        <th>Date</th>
        <th>Student</th>
        <th>Subject</th>
        <th>Reply</th>
    </tr>
    {% for x in data1 %}
    <tr>
        <td>{{ x.date }}</td>
        <td>{{x.user}}</td>
        <td>{{ x.subject }}</td>
        <td>{% if x.reply == None or x.reply == "" %}
            <form action="{% url 'replytoFeedback' x.id %}" method="POST" class="d-inline-block" >
            {% csrf_token %}
            <input type="submit" class="btn btn-info" value="Post Your Reply">
        </form>
        {% else %}
            {{x.reply}}
            {% endif %}
        </td>

    </tr>
    {% endfor %}

</table>

{% endblock %}